extends layout

block content
  .home-content
    h1 Welcome to Authors & Books
    p ...The land where kings are made...
    a(type="button" href='/users' class="btn btn-primary") Click to View Authors
